<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBite</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>

<body class="home-page">

    <div class="overlay">

        <h1>
            QuickBite &#127829 - Where you find the taste! &#9749
        </h1>

        <div class="btn-container">

        <a href="open_signup" class="signup-btn">
            Sign up
        </a>

        <a href="open_signin" class="signin-btn">
            Sign in
        </a>

</div>

    </div>

</body>
</html>